@model CommonUI.CommonFooterViewModel

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @Model.YearString - CommonFooter
    
        @if (Model.Privacy != null)
        {
            <span>- <a href="@Model.Privacy.Link">@Model.Privacy.Text</a></span>
        }
    
    </div>
</footer>