@model CommonUI.CommonFooterViewModel

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @Model.YearString - CommonFooter - <a href="@Model.Privacy.Link">@Model.Privacy.Text</a>
    </div>
</footer>