@page
@model IndexModel
@using CommonUI
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>You're currently on @Model.AppName</p>


<div class="row">
    <div class="col-sm-6">
        <component type="typeof(CommonUI.Components.TestingSharedComponent)" render-mode="ServerPrerendered" param-InitialValue="InitialValue"/>        
    </div>
    <div class="col-sm-6">
        <component type="typeof(MainSite.Components.Pages.CounterComponent)" render-mode="ServerPrerendered" param-InitialValue="InitialValue"/>
    </div>
</div>


@functions {
    [BindProperty(SupportsGet = true)]
    public int InitialValue { get; set; } = 1;
}

@section scripts {
        <script src="_framework/blazor.server.js"></script>
}